html, body {
  height: 100%;
  width: 100%;
  background-color: lemonchiffon;
  background-image: url('./images/checker.png');
  box-shadow: 
  0 0 0.1vw 0.4vw #fff7f7,
  0 0 0.4vw 0.6vw #e97272,
  0 0   4vw 0.4vw #e50b0b,

  inset 0 0 1.5vw 0.4vw #e50b0b,
  inset 0 0 0.4vw 0.2vw #e97272,
  inset 0 0 0.5vw 0.2vw #fff7f7;
  
}

/* MAIN CONTAINER*/
#mainContainer{
  display: flex;
  flex-wrap: wrap;
  border: 4px solid black;
  background-color: lightblue;
  margin: 1px;
  padding: 1px;
}

/* HEADER */
#header{
  border: 3px solid black;
  background-color: blueviolet;
  width: 100%;
  padding: 1px;
  margin: 1px;
}

#title{
  background-color: lightcoral;
  border: 2px solid black;
  font-size: 25pt;
  text-align: center;
  padding: 1px;
  margin: 1px;
}

#subtitle{
  background-color:lightcyan;
  border: 2px black solid;
  text-align: center;
  padding: 1px;
  margin: 1px;
}

/* NAVIGATION BAR */
#navBar{
  display: flex;
  width: 100%;
  padding: 5px;
  margin: 1px;
  background-color: lightgrey;
  border: 3px solid black;
  justify-content: center;
  
  
}

.navItem{
  border: 2px solid black;
  margin-left: 40px;
  margin-right: 40px;
  cursor: pointer;
}

#displayContainer{
  display: flex;
  border: 3px solid black;
  width: 100%;
  margin: 5px;
  padding: 5px;
  background-color: burlywood;
}

/* ABOUT SECTION */
#aboutSection{
  border: 2px solid black;
  width: 100%; 
  padding: 5px;
  margin: 5px;
}

#aboutHeader{
  background-color:lightgreen;
  border: 2px solid black;
  padding: 1px;
  margin: 1px;
  text-align: center;
}

/* FOOD MENU */
#foodMenuMain{
  display:flex;
  flex-direction: column;
  border: 3px solid black;
  width: 100%;
  margin: 1px;
}

#foodMenuHeader{
  background-color:lightgreen;
  border: 2px solid black;
  padding: 1px;
  margin: 1px;
  text-align: center;
}

#drinksHeader{
  background-color:lightgreen;
  border: 2px solid black;
  padding: 1px;
  margin: 1px;
  text-align: center;
}

.foodMenuItem{
  text-align: center;
  margin: 25px;
  border: 2px solid black;
  background-color: lightgoldenrodyellow;
}

#contactInfoMain{
  border: 2px solid black;
  background-color: lightgoldenrodyellow;
  width: 100%;
  margin: 5px;
  padding: 5px;
  text-align: center;
}



